@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', sans-serif;
}
.logo-color {
  fill: #ffffff;
}

h3 {
  font-size: 30px;
}

/* Šířka do 576 px - default*/

/* HEADER - NAVIGACE*/
.header {
  max-width: 100%;
  color: #ffffff;
  background-color: #3e363f;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas:
    'logo logo hamburger'
    '. navigation navigation';
  padding: 20px;
  position: sticky;
  top: 0;
}
.logo {
  grid-area: logo;
}
.hamburger {
  width: 100%;
  grid-area: hamburger;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
}
.line {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
}
.menu {
  display: none;
  grid-area: navigation;
  margin: 0;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu li {
  margin-bottom: 5px;
  list-style: none;
}
.menu-item {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  font-size: 28px;
}
/* .menu-item:focus {
  text-decoration: underline;
} */

.menu-item:hover {
  color: #ffffff;
}
.menu-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  margin-right: 10px;
  height: 3px;
  background: #c88080;
  transition: right 0.5s;
}
.menu-item:hover:after {
  right: 0;
}
.menu-item:active:after {
  right: 0;
}
.menu-item:current:after {
  right: 0;
}

/* HOMEPAGE */
.homepage {
  color: #ffffff;
  background-image: url(img/Banner_vertical.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    '.'
    'heading'
    'cta';
  padding: 20px;
  min-height: 100vh;
}
.homepage h1 {
  font-size: 64px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  grid-area: heading;
}
.cta {
  grid-area: cta;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cta p {
  margin: 5px 0;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 70px;
  font-size: 24px;
  font-weight: 400;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.cta p:hover {
  transform: scale(1.05);
}
.cta a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-deti {
  background-color: #c88080;
}
.cta-dospeli {
  background-color: #67c650;
}

/* KURZY PRO DĚTI - WETVARKA */
.wetvarka {
  padding: 20px;
  background-color: #c88080;
  color: #ffffff;
  font-size: 18px;
}
.wetvarka h2 {
  padding-top: 30px;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.bold-we {
  font-weight: 700;
}
.wetvarka .brown-text {
  color: #3e363f;
}
.wetvarka .font-size-medium {
  font-size: 36px;
  text-align: center;
}
.wetvarka .font-size-small {
  font-size: 24px;
}
.cta-deti-brown {
  background-color: #3e363f;
}
.wetvarka img {
  max-width: 100%;
  margin-top: 20px;
}
/* KURZY PRO DOSPĚLÉ */
.aktualni-kurzy {
  background-color: #3f283a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.aktualni-kurzy-text {
  padding: 20px;
}
.aktualni-kurzy-text h2 {
  padding-top: 30px;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}
.aktualni-kurzy-text-subheading {
  color: #c88080;
  font-size: 36px;
}
.cta-aktualni-kurzy {
  margin: 30px 0;
}
.cta-aktualni-kurzy-color {
  background-color: #67c650;
}
.zaklinac {
  width: 100%;
}
/* Šířka 576 - 768 px */
@media screen and (min-width: 576px) {
}
/* Šířka 768 - 992 px */
@media screen and (min-width: 768px) {
}
/* Šířka 992 - 1200 */
@media screen and (min-width: 992px) {
}
/* Šířka nad 1200 px */
@media screen and (min-width: 1200px) {
}
