@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', sans-serif;
  display: flex;
  flex-direction: column;
}
.logo-color {
  fill: #ffffff;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}

/* Šířka do 576 px - default*/
.header {
  color: #ffffff;
  background-color: #3e363f;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: sticky;
  top: 0;
}
.navbar {
  position: relative;
}
.hamburger {
  display: block;
  cursor: pointer;
}
.line {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin: 6px 0;
}
.menu {
  display: none;
}
li,
li a {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}
.homepage {
  color: #ffffff;
  background: url(img/Banner_vertical.jpg) no-repeat center top fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
/* Šířka 576 - 768 px */
@media screen and (min-width: 576px) {
}
/* Šířka 768 - 992 px */
@media screen and (min-width: 768px) {
}
/* Šířka 992 - 1200 */
@media screen and (min-width: 992px) {
}
/* Šířka nad 1200 px */
@media screen and (min-width: 1200px) {
}
